<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
  <%# here we going to use a partials nav. Go to ejs docs to learn more about it %>
  <%- include('./partials/nav.ejs') %>
  
  <div class="not-found content">
    OOPS, page not found :)
  </div>

  <%- include('./partials/footer.ejs') %>
</body>
</html>